<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @activity_signup, partial: "card", as: :activity_signup %>
  </div>
</div>

  <!-- Show Page Customization starts -->
  <!-- Show Page Customization end -->
