<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @flight, partial: "card", as: :flight %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "flights/flight_bookings" %>
  </div>
</div>
  <!-- Show Page Customization end -->
