<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Hotels

    <a data-toggle="collapse" href="#user_hotels_new_form">
      Add hotel
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.hotels.each do |hotel| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to hotel, hotel %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_hotels_new_form">
        <%= render partial: "users/user_hotels_new_form" %>
      </div>
    </div>

  </ul>
</div>
