<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bookings

    <a data-toggle="collapse" href="#user_bookings_new_form">
      Add booking
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.bookings.each do |booking| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to booking, booking %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_bookings_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
