<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Hotel Stays

    <a data-toggle="collapse" href="#user_hotel_stays_new_form">
      Add hotel stay
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.hotel_stays.each do |hotel_stay| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to hotel_stay, hotel_stay %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_hotel_stays_new_form">
        <%= render partial: "users/user_hotel_stays_new_form" %>
      </div>
    </div>

  </ul>
</div>
