<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @hotel, partial: "card", as: :hotel %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "hotels/hotel_hotel_stays" %>
  </div>
</div>
